.AuthPageWrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: calc(100vh - 84px);
}
.LeftColumn{
    background-size: cover;
}
.RightColumn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $offwhite;
    @include input-element;
    button{
        @include base-btn

    }
}