.NavWrapper{
    display: flex;
    justify-content: space-between;
   padding: 30px;


    .LeftSide{
    display: flex;
}
}
.NavLink{
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: 0.3s ease-in-out;
    display: flex;
    justify-content: space-between;
}
.NavLink:hover{
    border-bottom: 1px solid black;
}
a {
    color: black;
    text-decoration: none;
}